@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: poppins;
    src: url('fonts/Poppins-Regular.ttf');
}

$colors: (
    secondary: orange,
    primary:rgb(10, 18, 36),
    primary-transparent:rgba(10, 18, 36, .8),
    secondary-dark:darken(orange, 10%),
    font-stack: poppins,
);

@function item ($color-name) {
    @return map-get($colors, $color-name);
}


.overall {
    font-family: item(font-stack);
    background-image: url('images/Computer\ Repair\ Services.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: item(primary-transparent);
    background-position: cover  ;
    width: 100%;
    height: 100vh;


    img {
        border-radius: 50rem;
        width: 150px;
        margin-top: 1.5rem;
    }

    .cln1 {
        color: white;

        .p1 {
            font-weight: bold;
            line-height: 0rem;
        }

        .pi {
            color: item(secondary);
            text-transform: uppercase;
            font-weight: bold;

        }

        .pii {
            color: item(secondary);
            text-transform: uppercase;
            font-weight: bold;
            line-height: 0rem;
        }

        .btn {
            color: item(primary);
            font-weight: bold;
            background-color: item(secondary);
            border: none;
            padding: 1rem;
            border-radius: 5rem;
            font-size: 1.2rem;
            font-family: item(font-stack);
            text-decoration: none;

            &:hover {
                background-color: item(secondary-dark);
                transform: scale(.89);
                text-shadow: none;
            }
        }

    }

}

/////////// About Me Section /////////////////
body {
    background: white;
    font-family: item(font-stack);
}

section {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    background-color: white;
    width: 100%;
    height: 100vh;
    font-family: item(font-stack);



    img {
        width: 250px;
        border-radius: 1.5rem;
    }

    .half-2 {

        h1 {
            margin-bottom: 0.5rem;

        }

        p {
            font-size: 1rem;
            text-align: justify;
        }
    }
}